@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
:root {
	font-size: 16px;
}
html,
body,
.container {
	height: 100%;
	font-family: "Open Sans",sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.container {
	background: url(bg.png) no-repeat;
	background-size: cover;
}
.container:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}

header:before {
	position: absolute;
	content: '';
	z-index: 2;
}
header {
	position: absolute;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, #2c3e50 38%,#34495e 55%);
	color: #fff;
	padding: 15px;
}
.mobile-nav {
	opacity: 0;
	transition: opacity 500ms;
	display:none;
}
.animate-nav {
	opacity: 1;
}

nav {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
nav a.trigger {
	display: block;
}
nav .icon-bar {
	border:0px;
}
nav ul {
	flex-basis: 30%;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
nav li {
	flex: 1 1 20%;
}
nav a  {
	color: inherit;
	text-decoration: none;
	letter-spacing: 0.3px;
	font-size: 0.9rem;
}




/** Media Query Section **/

@media only screen and (max-width: 499px){
	nav .icon-bar{
		border-top: 2px solid #fff;
		width: 25px;
		padding: 4px;
		display: flex;
	}
	nav ul {
		display: none;
	}
	.mobile-nav{
		position: absolute;
		left:0;
		right:0;
		top:60px;
		background: #ecf0f1;
		width: 98vw;
		text-align: center;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		box-shadow: 0 6px 16px rgba(0,0,0,.5);
		z-index: 44;
		flex-wrap: wrap;
		perspective: 1000px;
	}
	.mobile-nav a {
		display: block;
		flex-basis: 100%;
		color: #4d545d;
		padding: 10px 0;
		font-weight: 700;
		border-bottom: .1rem solid #d7d7d7;

	}
	.mobile-nav a:hover {
		background: #16a085;
		border-color: #1abc9c;
		color: #fff;
	}
}
@media only screen and (max-width: 779px) and (min-width:500px){
	nav ul {
		flex-basis: 100%;
		justify-content: space-around;
		
	}
}

@media only screen and (max-width: 1000px) and (min-width: 780px){
	nav ul {
		font-size: .8rem;
		flex-basis: 40%;
	}
}